//define all my variables
$open-sans: 'Open Sans', sans-serif;
$lisbeth: lisbeth-display, sans-serif;
$eck-small: eckmannpsych-small, sans-serif;
$eck-med: eckmannpsych-medium, sans-serif;
$eck-lg: eckmannpsych-large, sans-serif;
$dark-beige: #ddb892;
$beige: #e6ccb2;
$brown: #c68225;
$off-white: #fff7e7;
$red: #ffadad;
$orange: #ffd6a5;
$yellow: #fdffb6;
$green: #caffbf;
$light-blue: #9bf6ff;
$indigo: #a0c4ff;
$purple: #bdb2ff;
$pink: #ffc6ff;

