@import url("https://use.typekit.net/bcf5vwq.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import "variables";
@import "mixins";

body {
    background-image: $gradient-br;
    min-height: 100vh;
    height: 100vh;
    font-family: $open-sans;
}

.container {
    display: grid;
    grid-template-columns: 10% 60% 30%;
}

.card {
    @include card;
    overflow: hidden;
}

.flex {
    display: flex;
}

.button,
button {
    @include button($light-blue, $brown, $gutter, $gradient-bl, $border-size);
}

.justify-sp-bt {
    justify-content: space-between;
}

.gap {
    gap: $gutter;
}

.round {
    border-radius: 50%;
}

header {
    background-color: $dark-beige;
    height: 100vh;
    min-height: 100vh;
    padding: $gutter;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}

aside {
    background-color: $beige;
    height: 100vh;
    min-height: 100vh;
    position: sticky;
    z-index: 0;
    padding: $gutter;
    top: 0;
    left: 0;
}

.post-descrip {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-width: 60ch;

}

// #landing-page styles
#landing-page {
    header {
        height: fit-content;
        min-height: fit-content;
        padding: $gutter;
    }

    .main-content {
        position: relative;
        z-index: 0;
    }

    h2 {
        font-family: $lisbeth;
        font-size: 3rem;
        color: $brown;
        padding: 1rem;
    }

    section {
        padding: $gutter;
    }

    h3 {
        font-family: $lisbeth;
        font-size: 2rem;
        color: $brown;
        padding: $gutter .75rem;
    }

    footer {
        background: $dark-beige;
        margin: 0;
        padding: $gutter $gutter*2;
    }

    .legal {
        margin: 0 auto;
        width: fit-content;
    }
}

//end landing-page styles


//keyframes
//for gradient border from Mike Schultz https://codepen.io/mike-schultz/pen/NgQvGO
@keyframes animatedgradient {
    0% {
        background-position: 0% 0%;
    }

    25% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 0% 100%;
    }

    75% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 0% 0%;
    }

    // 100% {
    //     background-position: 0% 50%;
    // }

}